version: '3.8'
services:
  mysql-db:
    image: mysql:8.0
    container_name: ecommerce-mysql
    ports:
      - "3307:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - ecommerce-net

volumes:
  mysql_data:

networks:
  ecommerce-net:
    driver: bridge